<div class = container>
  <div class = "index">
    <h1>All Restaurants</h1>
  </div>
    <ul>
    <% @restaurant.each do |restaurant| %>
    <li><%=link_to restaurant.name , restaurant_path(restaurant)  %></li>

    <% end %>
  
  </ul>
</div>
